

.diseño {
    background-image: url(../img/fondo\ 2.png);
}

p {
    font-family: handlee;
}

h2 {
    font-family: lobster two;
}

h3 {
    font-family: lobster two;
}

a {
    text-decoration: none;
}

.btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f5f5f5;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    z-index: 1;
}

.btn-top:hover {
    background-color: #333;
    color: #fff;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80rem;
    height: 30rem;
    margin: 2rem;
    border: 1rem solid #F76C5E;
}

@media (max-width: 800px) {
    .menu-toggle {
        display: block;
    }
    
    .menu {
        display: none;
    }
    
    .menu.show {
        display: block;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxCreacionesBlur {
    backdrop-filter: blur(10px) brightness(100%);
    border: 0.2rem solid white;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 2rem;
    text-align: center;
    border-radius: 1%;
}

.cursos {
    backdrop-filter: blur(10px) brightness(100%);
    border: 0.2rem solid white;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;
    border-radius: 1%;
}

.title{
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    text-decoration: underline;
    color: black;
    background-image: url(../img/pngaaa.com-2194742.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    overflow: visible;
    width: 25rem;
    height: 5rem;
}

.boxRecetas {
    backdrop-filter: blur(10px) brightness(100%);
    border: 0.2rem solid white;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 1%;
    padding-top: 2rem;
}

.imagenMica {
    width: 20rem;
    height: 25rem;
    border: 0.5rem solid #F76C5E;
    margin: 2rem;
    border-radius: 10%;
}

.boxSobreMi {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px) brightness(100%);
    border: 0.2rem solid white;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;
    border-radius: 1%;
    transition: transform 0.3s ease;
}

.boxSobreMi p {
    width: 30rem;
}

.boxSobreMi:hover {
    transform: scale(1.1);
}

.imagenCreaciones {
    width: 15rem;
    height: 20rem;
    border: 0.5rem solid #F76C5E;
    margin: 2rem;
    border-radius: 10%;
}

.boxCreaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.boxCreaciones:hover {
    transform: scale(1.1);
}

.botonVerMas {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F76C5E;
    border: 0.2rem solid white;
    margin-bottom: 1rem;
    border-radius: 15%;
}

.botonVerMas p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.botonVerMas:hover{
    background-color: white;
}

.videos {
    width: 30rem;
    margin: 2rem;
    transition: transform 0.3s ease;
}

.videos:hover {
    transform: scale(1.1);
}

.cursos h3{
    font-size: 1.2rem;
}

.textoCursos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.textoCursos:hover {
    transform: scale(1.1);
}

/*footer*/

.footer {
    background-color:#F76C5E;
    padding: 20px;
    color: #333;
    text-align: center;
    border-top:  1rem solid rosybrown;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1 1 300px;
    margin-bottom: 20px;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: underline;
    color: black;
}

.footer p {
    font-size: 14px;
    margin-bottom: 5px;
    color: white;
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-media li {
    margin: 0 10px;
}

.social-media a {
    color: #333;
    font-size: 20px;
}

.footer-text {
    font-size: 12px;
    margin-top: 20px;
}

.redes {
    width: 2rem;
    height: 2rem;
}

/*navbar*/

.navbar {
    background-color: #F76C5E;
    border-bottom: 1rem solid rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar h1 {
    color: white;
}

.navbar a {
    font-size: 1.5rem;
    color: black;
    transition: transform 0.3s ease;
}

.navbar a:hover{
    transform: scale(1.1);
}

.nav-item {
    margin: 1rem;
    font-family: handlee;
}

.nav-item a {
    font-size: 1.5rem;
}

.nav-item a:hover {
    border-bottom: 0.1rem solid white;
}

.navbar-text {
    font-family: handlee;
}

.navbar-text h1 {
    border: 0.2rem solid white;
    border-radius: 5%;
}

.logo {
    width: 5rem;
    border-radius: 100%;
    transform: scale(1.2);
}

@media (max-width: 414px) {
    .banner{
        width:25rem;
        height: 15rem;
        margin: 0;
    }
    .boxSobreMi{
        width: 25rem;
        flex-direction: column;
    }
    .boxSobreMi p {
        text-align: center;
        width: 24rem;
    }
    .boxRecetas{
        width: 25rem;
        padding: 0;
    }
    .videos{
        width: 20rem;
    }
    div .col {
        padding: 0;
        width: 25rem;
    }
}